.dash-produtos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border: 1px solid #7373732c;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.123);
  border-radius: 8px;
  overflow: hidden;
}

.dash-produtos-container h5 {
  margin: 15px;
  color: #636363;
  font-size: 15px;
}

.dash-produtos {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.dash-all-produtos {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.123);
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 8px;
  width: 64%;
  height: 100%;
  margin-right: 1%;
  padding: 5px;
}

.dash-all-produtos ul {
  overflow-x: hidden;
  overflow-y: scroll;
}

.dash-all-itens {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.123);
  border: 1px solid rgba(0, 0, 0, 0.116);
  border-radius: 8px;
  height: 75px;
  width: 100%;
  margin-bottom: 15px;
  list-style: none;
  padding: 0 5px;
  color: #737373;
  font-weight: bold;
  font-size: 13px;
}

.dash-all-itens img {
  height: 50px;
}

.dash-all-button-container {
  width: 75px;
  display: flex;
  justify-content: space-between;
}

.dash-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.123);
  background-color: #EE688D;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* CONTROLLER */

.dash-controller-produtos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.123);
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 8px;
  width: 35%;
  height: 100%;
  padding: 10px;
}

.add-produtos {
  width: 100%;
  height: 50px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: #636363;
  background-color: rgba(0, 0, 0, 0.096);
  cursor: pointer;
  margin-bottom: 20px;
}

.add-produtos:active {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
}

.dash-produtos-filter {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 5px;
  width: 100%;
  height: 70%;
  padding: 20px;
}

.dash-filter-input {
  width: 100%;
  height: 30px;
}

.dash-produtos-filter form {
  width: 100%;
}

.dash-filter-input input {
  margin-right: 10px;
}

.dash-filter-input label {
  color: #737373;
  font-weight: bold;
}

.dash-produtos-filter button {
  width: 100%;
  height: 40px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: #636363;
  background-color: rgba(0, 0, 0, 0.096);
  cursor: pointer;
  margin-top: 20px;
}

.filters-row {
  display: flex;
  align-self: start;
  margin-left: 10px;
  width: 100%;
  list-style: inside;
}

.filters-row li {
  margin-left: 10px;
  color: #636363;
}

/* CONTROLLER */



/* PAGINA DE ADICIONAR PRODUTO */
.addpage-container {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  width: 100%;
  height: 810px;
  border-radius: 8px;
  overflow-y: hidden;
}

.addpage {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  background-color: white;
  height: 90%;
  width: 600px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24);
  border: 1px solid #6363633f;
  color: #636363;
}

.addpage-close-btn {
  display: flex;
  align-self: start;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  background-color: #EE688D;
  color: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.addpage form {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80%;
  row-gap: 10px;
  column-gap: 15px;
  padding-left: 19px;
}

.addpage form button {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 50px;
  margin-right: 19px;
  margin-top: 16px;
  cursor: pointer;
  border: 1px solid #73737360;
  border-radius: 5px;
  color: #636363;
  font-weight: bold;
}

.addpage form button:hover {
  background-color: #63636323;
}

.addpage-input {
  width: 250px;
  height: 50px;
  color: #636363;
  border: none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  font-size: 16px;
  padding-left: 2px;
}

.edit-product-save-btn {
  width: 80px;
}

.edit-product-send-btn {
  width: 140px;
}

.edit-product-send-btn:disabled {
  color: #6363634f;
  cursor: not-allowed;
}

.edit-product-send-btn:disabled:hover {
  background-color: #73737305;
}

