.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin-top: 130px;
}

.loading-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .home-container {
    margin-top: 140px;
  }
}