@keyframes menu-anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cart-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 600;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FEFEFE;
  animation: menu-anim .3s forwards ease;
  opacity: 0;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0px 5px;
  margin: 0 10px;
}

.cart-header h3 {
  color: #737373;
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
}

.cart-header button {
  display: flex;
  border: none;
  background-color: transparent;
  color: #EE688D;
  font-size: 40px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10px;
}

.cart-item-ref {
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #737373;
}

.top-cart {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
  padding: 3px;
  width: 100%;
}

.bottom-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.cart-exclude {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 30px;
  color: #EE688D;
}

.add-item-cart {
  display: flex;
  width: 100px;
}

.add-item-cart p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-weight: bold;
}

.add-item-cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  color: #E97D5C;
}

.cart-items li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #7373732a;
  margin-bottom: 5px;
  padding: 5px 10px 5px 5px;
  border-radius: 10px;
}

.cart-items li img {
  height: 70px;
  margin-right: 20px;
}

.discount-price {
  font-weight: bold;
  font-size: 20px;
  color: #59cc4a;
}

.original-price {
  text-align: end;
  font-size: 13px;
  font-weight: bold;
  color: #737373;
  text-decoration: line-through;
}

.cart-checkout {
  display: flex;
  position: relative;
  flex-direction: column;
  bottom: 0;
  width: 95%;
  background-color: #f5f5f8;
  border: 1px solid #7373732a;
  border-radius: 10px;
  padding: 20px;
  height: auto;
}

.cart-checkout h4 {
  margin-bottom: 10px;
  font-size: 17px;
}

.checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.checkout-total-container {
  text-align: end;
}

.checkout-total {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.checkout-parcela {
  color: #36b376;
  font-weight: bold;
}

.btn-check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.btn-check-back {
  color: black;
  text-decoration: none;
}

.checkout-button-final {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #59cc4a;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 3px  #1c5f12;
  color: white;
  font-weight: bolder;
  font-size: 17px;
}

.checkout-button-final:active {
  box-shadow: 0px 0px 0px #1c5f12;
  transform: translate(1px, 0px);
}

/*EMPTY CART*/

.checkout-cart-empty {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width: 100%;
}

.checkout-cart-empty h5 {
  font-weight: bold;
  font-size: 25px;
  color: #EE688D;
}

.checkout-empty-icon {
  font-size: 80px;
  color: #EE688D;
  margin: 100px 0 0 0;
  filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.253));
}

.checkout-empty-text {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  width: 90%;
  color: #5a5a5a;
}

.empty-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 60%;
  height: 45px;
  min-height: 45px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #73CAC4;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.253);
  cursor: pointer;
  user-select: none;
}

.empty-cart-button:active {
  box-shadow: none;
  transform: translate(0px, 1px);
}

@media screen and (min-width: 700px) {
  .cart-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 500px;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.185);
    right: 0;
  }
}
