.categorias-container {
  width: 95%;
  max-width: 1500px;
  height: auto;
  margin: 150px 0px 50px 0;
}

.categorias-titulo {
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #474747;
  border-bottom: 2px solid #474747;
}

.categorias-container-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.categorias-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-shadow: inset 0 0 0 1px #7373733f;
  border-radius: 10px;
}

.categorias-img {
  height: 220px;
}

.categorias-container img {
  height: 40vw;
  min-height: 170px;
  max-height: 220px;
  margin-top: 5px;
}

.categorias-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* bottom: -20px; */
  margin: 10px 0 20px 0;
  background-color: #E97D5C;
  border: none;
  border-radius: 6px;
  width: 70%;
  height: 35px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
}

.categorias-comprar:active {
  background-color: #8f503d;
}

.categorias-discount-num {
  background-color: #EE688D;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-self: start;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
  font-weight: bold;
  font-size: 15px;
  transform: translateY(-105px);
}

.item-length {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.item-length-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin: 0 1px;
  font-weight: bold;
  color: white;
  border: 1px solid #737373;
}

@media screen and (min-width: 700px) {
  .categorias-container-grid {
    grid-template-columns: auto auto auto;
  }
}