.conta-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.conta-backcolor {
  position: absolute;
  background-color: rgba(211,236,230,255);
  width: 100%;
  height: 285px;
  top: 0;
  background-image: url("../../assets/images/banners/banner1.jpeg");
  background-position: c;
  filter: saturate(90%);
}

.conta-header {
  display: flex;
  position: relative;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 320px;
}

.conta-menu h5 {
  position: relative;
  align-self: start;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.459));
}

.conta-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 95%;
  max-width: 900px;
  height: 140px;
  z-index: 1;
}


.conta-btns {
  display: grid;
  grid-template-columns: 29% 29% 29%;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.253);
}

.conta-btn {
  background-color: #f2f2f3;
  box-shadow: 0px 25px 10px rgba(0, 0, 0, 0.158);
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #8e8e8f15;
  transform: rotateX(10deg);
  transition: all 0.3s ease;
}

.conta-btn-active {
  background-color: #f2f2f3;
  border: 1px solid #8e8e8f15;
  transition: all 0.3s ease;
  transform: rotateX(0deg);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.158);
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.conta-btn-shadow {
  position: absolute;
  height: 70px;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.200);
  border-radius: 8px;
}
.conta-btn-h4 {
  font-size: 30px;
  height: 40px;
  color: #EE688D;
}

.conta-btn-p {
  color: #8e8e8f;
  font-weight: bold;
}

.conta-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

