.meus-favoritos-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center; /*ficar de olho quando tiver favoritos*/
  gap: 5px;
  width: 95%;
  height: auto;
  max-width: 900px;
  margin-bottom: 20px;
}

.sem-favoritos {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 200px;
  font-weight: bold;
  color: #737373;
}