.banner-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.inner-slider {
  height: 87%;
}

.banner-imgs {
  width: 100vw;
  max-width: 1500px;
  height: 40vw;
  max-height: 500px;
  min-height: 230px;
  border-radius: 7px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.180);
}

.slick-dots button::before {
  font-size: clamp(10px, 2vw, 15px) !important;
  color: #EE688D !important;
}

.slider-btn {
  display: flex;
  align-self: center;
  position: absolute;
  background-color: transparent;
  color: black;
  height: auto;
  width: 35px;
  font-size: clamp(40px, 3vw, 60px);
  border-radius: 50%;
  cursor: pointer;
  z-index: 50;
}

.slick-next {
  transform: translate(-200%, -20px);
}

.slick-prev {
  transform: translate(130%, -15px);
  z-index: 20;
}

.slick-prev:before {
  color: #EE688D !important;
  font-size: clamp(30px, 3vw, 45px) !important;
}

.slick-next:before {
  color: #EE688D !important;
  font-size: clamp(30px, 3vw, 45px) !important;
}

@media screen and (min-width: 1000px) {
  .inner-slider {
    height: 93%;
  }


}

@media screen and (min-width: 1500px) {
  .slick-next {
    transform: translate(-270%, 0px);
  }
}

@media  screen and (max-width: 900px) {
  .slick-next {
    display: none !important;
  }
  
  .slick-prev {
    display: none !important;
  }

  .banner-imgs {
    min-height: 180px;
  }
}