.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}

.dashboard {
  background-color: white;
  width: 96%;
  height: 95%;
  border: 1px solid #7373734d;
  border-radius: 9px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.250);
}