.meus-pedidos-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 95%;
  max-width: 900px;
  margin-bottom: 20px;
}

.pedidos-content {
  width: 100%;
  height: auto;
}

.meus-pedidos-container h5 {
  font-weight: bold;
  color: #636363;
  font-size: 15px;
}

.pedidos-nav {
  display: flex;
  align-self: start;
  margin: 10px 0;
}

.pedidos-nav p {
  color: #636363;
}

.pedidos-lista {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.pedidos-item {
  margin-bottom: 10px;
}

/* TOP */
.pedidos-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 0px 10px;
  border-radius: 8px 8px 0 0;
  border: 1px solid #73737381;
  background-color: #F2F2F3;
}

.pedido-data {
  font-size: 14px;
  text-align: start;
  color: #737373;
  font-weight: bold;
}

.pedido-numero {
  display: flex;
  font-size: 12px;
  text-align: start;
  color: #636363;
  height: 100%;
  padding-top: 10px;
}

/* TOP */


/* BOTTOM */


.pedidos-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  border-radius: 0 0 8px 8px;
  border: 1px solid #73737381;
  border-top: none;
}

.pedido-info {
  display: flex;
}

.pedido-info-desc {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  column-gap: 15px;
  color: #737373;
  font-weight: bold;
  padding: 5px 0;
}

.pedido-info-desc p {
  font-size: 13px;
  text-align: start;
  color: #636363;
  margin-bottom: 2px;
}

.pedido-info img {
  height: 60px;
  margin: 0 10px;
}

.pedidos-payment-button {
  height: 35px;
  width: 56px;
  margin-right: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.253);
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #73CAC4;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

/* BOTTOM */

.loading-meus-pedidos {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}