.dashPedidos-container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border: 1px solid #7373732c;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.123);
  border-radius: 7px;
  
}

.dashPedidos-container ul {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.dashPedidos-container li {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ebebeb94;
  border-radius: 5px;
  padding: 3px 3px 3px 13px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.323);
}

.dashPedidos-container p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #636363;
}

.dashPedidos-container a {
  text-decoration: none;
}

.allPedidos-status {
  height: 60px;
  width: 10px;
  position: absolute;
  border-radius: 5px 0 0 5px;
  transform: translate(-13px, 0);
}

.allPedidos-infos {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
}