.dashPedidos-container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border: 1px solid #7373732c;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.123);
  border-radius: 7px;
}

.dashPedidos-container ul {
  list-style: none;
  width: 100%;
  height: 93%;
  padding: 10px;
}

.dashPedidos-container li {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ebebeb94;
  border-radius: 5px;
  padding: 3px 3px 3px 13px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.323);
}

.dashPedidos-container p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #636363;
}

.dashPedidos-container a {
  text-decoration: none;
}

.allPedidos-status {
  height: 60px;
  width: 10px;
  position: absolute;
  border-radius: 5px 0 0 5px;
  transform: translate(-13px, 0);
}

.allPedidos-infos {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 15px;
  text-wrap: nowrap;
}

.onePedido-container {
  width: 100%;
  height: 100%;
}

.onePedido {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.323);
}

.pedido-examine-infos {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.pedido-user-endereco {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.pedidos-infos {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #ebebeb;
  width: auto;
  height: 550px;
  margin: 10px;
  border-radius: 6px;
}

.pedidos-infos-compra {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
  padding: 10px;
}

.pedidos-infos-item {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.pedido-item {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.323);
  background-color: #f7f7f7;
  border-radius: 8px;
  height: 100px;
  margin-bottom: 15px;
  padding-left: 10px;
}

/* EDIT PAGE*/

.editPage_dashPedidos {
  position: absolute;
  justify-content: start;
  align-items: center;
  display: flex;
  width: 550px;
  height: 750px;
  z-index: 100;
}

.editPage_content_dashPedidos {
  background-color: #ebebeb;
  border-radius: 7px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.323);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 200px;
}

.one_pedido_edit_button {
  height: 40px;
  max-width: 150px;
  cursor: pointer;
}

.editPage_closeBtn_dashPedidos {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ee688d;
  align-self: start;
  margin: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.323);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.editPage_closeBtn_dashPedidos:hover {
  background-color: #fd97b4;
}
