.cadastro-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 650px;
  margin-top: 150px;
}

.cadastro {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 95%;
  max-width: 900px;
  height: 90%;
  border: 1px solid #73737398;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.253);
}

.cadastro-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px 10px;
}

.cadastro-input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding-left: 10px;
  border: 1px solid #73737398;
}

.cadastro-input option {
  color: #737373;
}


.cadastro-form button {
  width: 100%;
  height: 40px;
  background-color: #EE688D ;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 10px;
}

.cadastro h3 {
  color: #737373;
  margin: 25px 0px;
}

.colSpan {
  grid-column-start: 1;
  grid-column-end: 3;
}

.no-error-module {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  width: 100%;
}
