.products-container {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  width: 95%;
  height: auto;
}

.products-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.products-title h3 {
  font-size: clamp(15px, 2vw, 20px);
  color: #737373;
}

.title-row {
  width: 30%;
  border-bottom: 1px solid #737373;
}

.products {
  width: 100%;
  height: auto;
}

.products-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  width: 99% !important;
  height: 320px;
  box-shadow: inset 0 0 0 1px #7373733f;
  border-radius: 10px;
}

.item-discount-num {
  background-color: #EE688D;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
  font-weight: bold;
  font-size: 15px;
}

.products-item img {
  height: 150px;
}

.item-discount-box {
  height: 12px;
}

.item-name {
  font-size: 15px;
  text-align: center;
}

.item-discount {
  text-decoration: line-through;
  color: #737373;
  font-size: 12px;
}

.item-price {
  color: #BDD753;
  font-weight: bold;
  font-size: 20px;
}

.item-quantity {
  display: flex;
}

.item-quantity-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

.products-btn-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item-quantity button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  color: #E97D5C;
  font-size: 15px;
  font-weight: bolder;
}

.item-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* bottom: -20px; */
  margin-top: 10px;
  background-color: #E97D5C;
  border: none;
  border-radius: 6px;
  width: 70%;
  height: 35px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
}

.item-comprar:active {
  background-color: #8f503d;
}

.products-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 90%;
}

.indisponivel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-weight: bolder;
  color: #f79635;
}

@media screen and (min-width: 1000px) {
  .products-container {
    width: 100%;
  }
}