.dashClientes-container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border: 1px solid #7373732c;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.123);
  border-radius: 7px;
  padding: 10px;
}

.showUsers {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
}

.showUsers li {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  border: 1px solid #7373732c;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.055);
  color: #737373;
  font-weight: bold;
  font-size: 15px;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  text-wrap: pretty;
}