.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fefefe;
}

.divTeste {
  background-color: #fefefe;
  width: 100vw;
  height: 1000px;
  border-bottom: 2px solid red;
}

.container::-webkit-scrollbar {
  display: none;
}