.meus-dados-container {
  width: 95%;
  max-width: 900px;
}

.meus-dados-container h5 {
  margin-bottom: 8px;
  color: #737373;
  font-weight: bold;
  font-size: 17px;
}

.info-bloco {
  display: flex;
  flex-direction: column;
  border: 1px solid #7373735e;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 8px;
}

.info-bloco h4 {
  color: #737373;
  font-weight: bold;
  margin: 0px 0px 10px 5px;
}

.info-campo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 5px;
}

.info-campo-chave {
  color: #737373;
  font-size: 13px;
}

.info-block-btn {
  height: 35px;
  width: 120px;
  margin: 15px 0 5px 5px;
  border: none;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.459));
  background-color: #73CAC4;
  font-weight: bold;
  color: white;
}