.meus-dados-container {
  width: 95%;
  max-width: 900px;
}

.meus-dados-container h5 {
  margin-bottom: 8px;
  color: #737373;
  font-weight: bold;
  font-size: 17px;
}

.info-bloco {
  display: flex;
  flex-direction: column;
  border: 1px solid #7373735e;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 8px;
}

.info-bloco h4 {
  color: #737373;
  font-weight: bold;
  margin: 0px 0px 10px 5px;
}

.info-campo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 5px;
}

.info-campo-chave {
  color: #737373;
  font-size: 13px;
}

.change-password-btn {
  height: 35px;
  width: 120px;
  margin: 15px 0 5px 5px;
  border: none;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.459));
  background-color: #73CAC4;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/*Adress Page*/

.adress-page-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  height: 100%;
  position: absolute;
  z-index: 50;
}

.adress-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.459));
}

.adress-page-inputs {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  height: 80%;
  margin-top: 5%;
  padding: 20px 10px 0 10px;
}

.adress-page-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 50px;
  width: 40%;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.459));
  background-color: #73CAC4;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.adress-input {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}

.adress-input label {
  font-size: 17px;
  font-weight: bold;
  color: #636363;
}

.adress-input input {
  font-size: 20px;
  height: 50px;
  width: 100%;
}

.adress-page-button {
  margin: 20px 0;
  width: 150px;
  height: 40px;
  background-color: #73CAC4;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.459));
  z-index: 60;
}

.adress-page-closeBtn {
  background-color: #EE688D;
  margin: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
}

.logout-button {
  height: 40px;
  width: 100px;
  border: none;
  background-color: #EE688D;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.459));
  display: inline;
  cursor: pointer;
}

.meus-dados-end-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*Change password container*/

.change-password-container {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 50px;
  z-index: 100;
}

.change-password-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.253);
}

.change-password-input {
  height: 40px;
  width: 250px;
  font-size: 15px;
  color: #636363;
  margin-bottom: 10px;
}

.change-password-label {
  margin-bottom: 20px;
  font-weight: bold;
  color: #636363;
}

.change-password-old-btn {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: #73CAC4;
  border: none;
  border-radius: 2px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.459));
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.change-password-cancel {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: #EE688D;
  border: none;
  border-radius: 2px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.459));
  color: white;
  font-weight: bolder;
  margin-left: 20px;
  cursor: pointer;
}

